<form
  [formGroup]="reservationForm"
  (ngSubmit)="sendReservation()"
  class="example-form"
>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Ad Soyad</mat-label>
    <input matInput formControlName="nameFormControl" placeholder="" value="" />
    <mat-error
      *ngIf="reservationForm.get('nameFormControl')?.hasError('required')"
      >Lütfen adınız girin.</mat-error
    >
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>E-posta</mat-label>
    <input
      type="email"
      matInput
      formControlName="emailFormControl"
      placeholder="email@adres.com"
    />
    <mat-error
      *ngIf="
        reservationForm.get('emailFormControl')?.hasError('email') &&
        !reservationForm.get('emailFormControl')?.hasError('required')
      "
    >
      Lütfen geçerli bir e-posta adresi girin.
    </mat-error>
    <mat-error
      *ngIf="reservationForm.get('emailFormControl')?.hasError('required')"
    >
      E-posta adresinizi girmelisiniz.
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Tarih Seçin</mat-label>
    <input
      matInput
      formControlName="tarihFormControl"
      [matDatepicker]="picker"
      [matDatepickerFilter]="dateFilter"
      (dateChange)="dateChanged()"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker [dateClass]="dateClass" touchUi #picker></mat-datepicker>
    <mat-error
      *ngIf="reservationForm.get('tarihFormControl')?.hasError('pattern')"
      >Lütfen geçerli bir tarih girin.</mat-error
    >
    <mat-error
      *ngIf="reservationForm.get('tarihFormControl')?.hasError('required')"
      >Lütfen tarih seçin.</mat-error
    >
  </mat-form-field>
  <mat-form-field
    class="example-full-width"
    *ngIf="hours.length > 0"
    appearance="fill"
  >
    <mat-label>Saat seçin</mat-label>
    <mat-select formControlName="saatlerFormControl" required>
      <mat-option
        [disabled]="hour.disabled"
        *ngFor="let hour of hours"
        [value]="hour.hour"
      >
        {{ hour.hour }}
      </mat-option>
    </mat-select>
    <mat-error
      *ngIf="!reservationForm.get('saatlerFormControl')?.hasError('required')"
      >Lütfen saat seçin.</mat-error
    >
    <mat-error *ngIf="hours.length === 0">Önce gün seçmelisiniz.</mat-error>
  </mat-form-field>

  <button
    [disabled]="!reservationForm.valid"
    type="submit"
    mat-flat-button
    color="primary"
  >
    Rezervasyonu Tamamla
  </button>
</form>
